In [1]:
import numpy as np
import pandas as pd
lali=pd.read_csv('Laliga.csv',index_col=0)
df=lali.replace('-', 0)
df.columns=df.iloc[0]
df.drop(df.index[0], inplace=True)
print(df)

Pos                 Team Seasons Points GamesPlayed GamesWon GamesDrawn  \
1            Real Madrid      86   4385        2762     1647        552
2              Barcelona      86   4262        2762     1581        573
3        Atletico Madrid      80   3442        2614     1241        598
4               Valencia      82   3386        2664     1187        616
5        Athletic Bilbao      86   3368        2762     1209        633
6                Sevilla      73   2819        2408      990        531
7               Espanyol      82   2792        2626      948        608
8          Real Sociedad      70   2573        2302      864        577
9               Zaragoza      58   2109        1986      698        522
10            Real Betis      51   1884        1728      606        440
11   Deportivo La Coruna      45   1814        1530      563        392
12            Celta Vigo      51   1789        1698      586        389
13            Valladolid      42   1471        1466      463        384
14      Racing Santander      44   1416        1428      453        336
15        Sporting Gijon      43   1389        1458      471        358
16               Osasuna      37   1351        1318      426        327
17                Malaga      36   1314        1255      390        330
18                Oviedo      38   1174        1192      408        292
19              Mallorca      27   1148         988      333        256
20            Las Palmas      33   1020        1096      367        242
21            Villarreal      17    970         646      266        172
22               Granada      23    667         742      218        175
23        Rayo Vallecano      17    662         652      189        148
24                 Elche      21    606         678      203        180
25                Getafe      12    553         456      147        112
26              Hercules      20    538         628      184        149
27              Tenerife      13    510         494      155        128
28                Murcia      18    445         586      145        143
29                Alaves      12    421         380      125         81
30               Levante      11    416         402      113         95
..                   ...     ...    ...         ...      ...        ...
32              Sabadell      14    353         426      129         95
33                 Cadiz      12    343         448      104        127
34              Logrones       9    293         346       96         92
35             Castellon      11    285         334      103         79
36              Albacete       7    277         270       76         76
37               Almeria       6    242         228       62         56
38               Cordoba       9    230         282       82         63
39            Compostela       4    190         160       52         45
40            Recreativo       5    188         186       50         46
41             Burgos CF       6    168         204       59         50
42            Pontevedra       6    150         180       53         44
43              Numancia       4    148         152       37         37
44                 Eibar       3    132         114       35         27
45                Arenas       7    107         130       43         21
46           Real Burgos       3     96         114       26         44
47             Gimnastic       4     91         116       34         16
48           Extremadura       2     83          80       20         23
49                Merida       2     81          80       19         24
50              Alcoyano       4     76         108       30         16
51                  Jaen       3     71          90       29         13
52            Real Union       4     56          72       21         14
53            AD Almeria       2     52          68       17         18
54                Europa       3     42          54       18          6
55                Lleida       2     40          68       13         14
56               Leganes       1     35          38        8         11
57                 Xerez       1     34          38        8         10
58                Condal       1     22          30        7          8
59       Atletico Tetuan       1     19          30        7          5
60      Cultural Leonesa       1     14          30        5          4
61                Girona       1      0           0        0          0

Pos GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
1         563     5947         3140       33        23     8      8     3
2         608     5900         3114       25        25    12     12     4
3         775     4534         3309       10         8    16      9     7
4         861     4398         3469        6         6    10     11    10
5         920     4631         3700        8         7    10      5     8
6         887     3680         3373        1         4     4      5    12
7        1070     3609         3889        0         0     4      5     2
8         861     3228         3230        2         3     2      5     4
9         766     2683         2847        0         1     4      5     4
10        682     2159         2492        1         0     2      3     4
11        575     2052         2188        1         5     4      1     0
12        723     2278         2624        0         0     0      2     4
13        619     1767         2180        0         0     0      1     1
14        639     1843         2368        0         1     1      2     0
15        629     1753         2152        0         1     1      2     2
16        565     1500         1834        0         0     0      2     2
17        535     1421         1763        0         0     0      1     0
18        492     1642         1951        0         0     3      2     2
19        399     1182         1371        0         0     2      0     2
20        487     1347         1746        0         1     1      1     1
21        208      892          789        0         1     1      2     3
22        349      819         1157        0         0     0      0     0
23        305      760         1088        0         0     0      0     0
24        295      750         1022        0         0     0      0     1
25        197      520          633        0         0     0      0     0
26        295      716         1050        0         0     0      0     1
27        211      619          744        0         0     0      0     2
28        298      607          992        0         0     0      0     0
29        174      458          623        0         0     0      0     0
30        194      430          632        0         0     0      0     0
..        ...      ...          ...      ...       ...   ...    ...   ...
32        202      492          720        0         0     0      1     1
33        217      393          662        0         0     0      0     0
34        158      291          489        0         0     0      0     0
35        152      419          588        0         0     0      1     2
36        118      320          410        0         0     0      0     0
37        110      244          366        0         0     0      0     0
38        137      285          430        0         0     0      0     1
39         63      199          241        0         0     0      0     0
40         90      202          296        0         0     0      0     0
41         95      216          310        0         0     0      0     0
42         83      165          221        0         0     0      0     0
43         78      155          253        0         0     0      0     0
44         52      139          167        0         0     0      0     0
45         66      227          308        0         0     1      0     3
46         44      101          139        0         0     0      0     0
47         66      181          295        0         0     0      0     0
48         37       62          117        0         0     0      0     0
49         37       70          115        0         0     0      0     0
50         62      145          252        0         0     0      0     0
51         48      121          183        0         0     0      0     0
52         37      153          184        0         0     0      0     0
53         33       71          116        0         0     0      0     0
54         30       97          131        0         0     0      0     0
55         41       70          182        0         0     0      0     0
56         19       36           55        0         0     0      0     0
57         20       38           66        0         0     0      0     0
58         15       37           57        0         0     0      0     0
59         18       51           85        0         0     0      0     0
60         21       34           65        0         0     0      0     0
61          0        0            0        0         0     0      0     0

Pos Sixth   T    Debut Since/LastApp BestPosition
1       4  79     1929          1929            1
2       6  83     1929          1929            1
3       6  56     1929       2002-03            1
4       7  50  1931-32       1987-88            1
5      10  49     1929          1929            1
6       6  32  1934-35       2001-02            1
7       5  16     1929       1994-95            3
8       3  19     1929       2010-11            1
9       4  18  1939-40       2012-13            2
10      4  14  1932-33       2015-16            1
11      1  12  1941-42       2014-15            1
12      5  11  1939-40       2012-13            4
13      1   3  1948-49       2013-14            4
14      1   5     1929       2011-12            2
15      1   7  1944-45       2015-16            2
16      2   6  1935-36       2016-17            4
17      1   2  1949-50       2008-09            4
18      4  11  1933-34       2000-01            3
19      1   5  1960-61       2012-13            3
20      1   5  1951-52       2015-16            2
21      2   9  1998-99       2013-14            2
22      2   2  1941-42       2016-17            6
23      0   0  1977-78       2015-16            8
24      1   2  1959-60       2014-15            5
25      1   1  2004-05       2015-16            6
26      4   5  1935-36       2010-11            5
27      0   2  1961-62       2009-10            5
28      0   0  1940-41       2007-08           11
29      1   1  1930-31       2016-17            6
30      1   1  1963-64       2015-16            6
..    ...  ..      ...           ...          ...
32      0   2  1943-44       1987-88            4
33      0   0  1977-78       2005-06           12
34      0   0  1987-88       1996-97            7
35      0   3  1941-42       1990-91            4
36      0   0  1991-92       2004-05            7
37      0   0  2007-08       2014-15            8
38      0   1  1962-63       2014-15            5
39      0   0  1994-95       1997-98           10
40      0   0  1978-79       2008-09            8
41      0   0  1971-72       1979-80           12
42      0   0  1963-64       1969-70            7
43      0   0  1999-00       2008-09           17
44      0   0  2014-15       2014-15           10
45      0   4     1929       1934-35            3
46      0   0  1990-91       1992-93            9
47      0   0  1947-48       2006-07            7
48      0   0  1996-97       1998-99           17
49      0   0  1995-96       1997-98           19
50      0   0  1945-46       1950-51           10
51      0   0  1953-54       1957-58           14
52      1   1     1929       1931-32            6
53      0   0  1979-80       1980-81           10
54      0   0     1929       1930-31            8
55      0   0  1950-51       1993-94           16
56      0   0  2016-17       2016-17           17
57      0   0  2009-10       2009-10           20
58      0   0  1956-57       1956-57           16
59      0   0  1951-52       1951-52           16
60      0   0  1955-56       1955-56           15
61      0   0  2017-18       2017-18            9

[61 rows x 19 columns]

In [2]:
df['Debut'] = df['Debut'].astype(str).str[:4].astype(int)
debut=df[df['Debut'].between(1930, 1980)]
print(debut)

Pos                 Team Seasons Points GamesPlayed GamesWon GamesDrawn  \
4               Valencia      82   3386        2664     1187        616
6                Sevilla      73   2819        2408      990        531
9               Zaragoza      58   2109        1986      698        522
10            Real Betis      51   1884        1728      606        440
11   Deportivo La Coruna      45   1814        1530      563        392
12            Celta Vigo      51   1789        1698      586        389
13            Valladolid      42   1471        1466      463        384
15        Sporting Gijon      43   1389        1458      471        358
16               Osasuna      37   1351        1318      426        327
17                Malaga      36   1314        1255      390        330
18                Oviedo      38   1174        1192      408        292
19              Mallorca      27   1148         988      333        256
20            Las Palmas      33   1020        1096      367        242
22               Granada      23    667         742      218        175
23        Rayo Vallecano      17    662         652      189        148
24                 Elche      21    606         678      203        180
26              Hercules      20    538         628      184        149
27              Tenerife      13    510         494      155        128
28                Murcia      18    445         586      145        143
29                Alaves      12    421         380      125         81
30               Levante      11    416         402      113         95
31             Salamanca      12    375         423      123        102
32              Sabadell      14    353         426      129         95
33                 Cadiz      12    343         448      104        127
35             Castellon      11    285         334      103         79
38               Cordoba       9    230         282       82         63
40            Recreativo       5    188         186       50         46
41             Burgos CF       6    168         204       59         50
42            Pontevedra       6    150         180       53         44
47             Gimnastic       4     91         116       34         16
50              Alcoyano       4     76         108       30         16
51                  Jaen       3     71          90       29         13
53            AD Almeria       2     52          68       17         18
55                Lleida       2     40          68       13         14
58                Condal       1     22          30        7          8
59       Atletico Tetuan       1     19          30        7          5
60      Cultural Leonesa       1     14          30        5          4

Pos GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
4         861     4398         3469        6         6    10     11    10
6         887     3680         3373        1         4     4      5    12
9         766     2683         2847        0         1     4      5     4
10        682     2159         2492        1         0     2      3     4
11        575     2052         2188        1         5     4      1     0
12        723     2278         2624        0         0     0      2     4
13        619     1767         2180        0         0     0      1     1
15        629     1753         2152        0         1     1      2     2
16        565     1500         1834        0         0     0      2     2
17        535     1421         1763        0         0     0      1     0
18        492     1642         1951        0         0     3      2     2
19        399     1182         1371        0         0     2      0     2
20        487     1347         1746        0         1     1      1     1
22        349      819         1157        0         0     0      0     0
23        305      760         1088        0         0     0      0     0
24        295      750         1022        0         0     0      0     1
26        295      716         1050        0         0     0      0     1
27        211      619          744        0         0     0      0     2
28        298      607          992        0         0     0      0     0
29        174      458          623        0         0     0      0     0
30        194      430          632        0         0     0      0     0
31        198      422          581        0         0     0      0     0
32        202      492          720        0         0     0      1     1
33        217      393          662        0         0     0      0     0
35        152      419          588        0         0     0      1     2
38        137      285          430        0         0     0      0     1
40         90      202          296        0         0     0      0     0
41         95      216          310        0         0     0      0     0
42         83      165          221        0         0     0      0     0
47         66      181          295        0         0     0      0     0
50         62      145          252        0         0     0      0     0
51         48      121          183        0         0     0      0     0
53         33       71          116        0         0     0      0     0
55         41       70          182        0         0     0      0     0
58         15       37           57        0         0     0      0     0
59         18       51           85        0         0     0      0     0
60         21       34           65        0         0     0      0     0

Pos Sixth   T  Debut Since/LastApp BestPosition
4       7  50   1931       1987-88            1
6       6  32   1934       2001-02            1
9       4  18   1939       2012-13            2
10      4  14   1932       2015-16            1
11      1  12   1941       2014-15            1
12      5  11   1939       2012-13            4
13      1   3   1948       2013-14            4
15      1   7   1944       2015-16            2
16      2   6   1935       2016-17            4
17      1   2   1949       2008-09            4
18      4  11   1933       2000-01            3
19      1   5   1960       2012-13            3
20      1   5   1951       2015-16            2
22      2   2   1941       2016-17            6
23      0   0   1977       2015-16            8
24      1   2   1959       2014-15            5
26      4   5   1935       2010-11            5
27      0   2   1961       2009-10            5
28      0   0   1940       2007-08           11
29      1   1   1930       2016-17            6
30      1   1   1963       2015-16            6
31      0   0   1974       1998-99            7
32      0   2   1943       1987-88            4
33      0   0   1977       2005-06           12
35      0   3   1941       1990-91            4
38      0   1   1962       2014-15            5
40      0   0   1978       2008-09            8
41      0   0   1971       1979-80           12
42      0   0   1963       1969-70            7
47      0   0   1947       2006-07            7
50      0   0   1945       1950-51           10
51      0   0   1953       1957-58           14
53      0   0   1979       1980-81           10
55      0   0   1950       1993-94           16
58      0   0   1956       1956-57           16
59      0   0   1951       1951-52           16
60      0   0   1955       1955-56           15

In [3]:
df['Points'] = df['Points'].astype(str).str[:4].astype(int)
print(df.sort_values('Points',ascending=False).head(5))

Pos             Team Seasons  Points GamesPlayed GamesWon GamesDrawn  \
1        Real Madrid      86    4385        2762     1647        552
2          Barcelona      86    4262        2762     1581        573
3    Atletico Madrid      80    3442        2614     1241        598
4           Valencia      82    3386        2664     1187        616
5    Athletic Bilbao      86    3368        2762     1209        633

Pos GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
1         563     5947         3140       33        23     8      8     3
2         608     5900         3114       25        25    12     12     4
3         775     4534         3309       10         8    16      9     7
4         861     4398         3469        6         6    10     11    10
5         920     4631         3700        8         7    10      5     8

Pos Sixth   T  Debut Since/LastApp BestPosition
1       4  79   1929          1929            1
2       6  83   1929          1929            1
3       6  56   1929       2002-03            1
4       7  50   1931       1987-88            1
5      10  49   1929          1929            1

In [4]:
df['GoalsFor'] = df['GoalsFor'].astype(str).str[:4].astype(int)
df['GoalsAgainst'] = df['GoalsAgainst'].astype(str).str[:4].astype(int)
def Goal_diff_count(x,y):
    a=x-y
    df['Goal_diff_count']=a
    return Goal_diff_count
Goal_diff_count(df['GoalsFor'],df['GoalsAgainst'])
print(df[df.Goal_diff_count == df.Goal_diff_count.max()]) 
print(df[df.Goal_diff_count == df.Goal_diff_count.min()])
df=df.drop('Goal_diff_count',1)

Pos         Team Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  \
1    Real Madrid      86    4385        2762     1647        552       563

Pos  GoalsFor  GoalsAgainst Champion Runner-up Third Fourth Fifth Sixth   T  \
1        5947          3140       33        23     8      8     3     4  79

Pos  Debut Since/LastApp BestPosition  Goal_diff_count
1     1929          1929            1             2807
Pos              Team Seasons  Points GamesPlayed GamesWon GamesDrawn  \
14   Racing Santander      44    1416        1428      453        336

Pos GamesLost  GoalsFor  GoalsAgainst Champion Runner-up Third Fourth Fifth  \
14        639      1843          2368        0         1     1      2     0

Pos Sixth  T  Debut Since/LastApp BestPosition  Goal_diff_count
14      1  5   1929       2011-12            2             -525

In [5]:
df['GamesWon'] = df['GamesWon'].astype(str).str[:4].astype(int)
df['GamesPlayed'] = df['GamesPlayed'].astype(str).str[:4].astype(int)
df['Winning_Percent']=(df['GamesWon']/df['GamesPlayed'])*100
df=df.fillna(0)
print(df.sort_values('Winning_Percent',ascending=False).head(5))

Pos             Team Seasons  Points  GamesPlayed  GamesWon GamesDrawn  \
1        Real Madrid      86    4385         2762      1647        552
2          Barcelona      86    4262         2762      1581        573
3    Atletico Madrid      80    3442         2614      1241        598
4           Valencia      82    3386         2664      1187        616
5    Athletic Bilbao      86    3368         2762      1209        633

Pos GamesLost  GoalsFor  GoalsAgainst Champion Runner-up Third Fourth Fifth  \
1         563      5947          3140       33        23     8      8     3
2         608      5900          3114       25        25    12     12     4
3         775      4534          3309       10         8    16      9     7
4         861      4398          3469        6         6    10     11    10
5         920      4631          3700        8         7    10      5     8

Pos Sixth   T  Debut Since/LastApp BestPosition  Winning_Percent
1       4  79   1929          1929            1        59.630702
2       6  83   1929          1929            1        57.241130
3       6  56   1929       2002-03            1        47.475134
4       7  50   1931       1987-88            1        44.557057
5      10  49   1929          1929            1        43.772629

In [6]:
df['BestPosition'] = df['BestPosition'].astype(str).str[:2].astype(int)
print(df.groupby(df['BestPosition'])['Points'].sum())

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64